---
layout: layouts/layout-task.njk
title: Tareas
---
<h2 class="task-title">Control de Versiones con Git y GitHub</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1-cv">
        <label for="tarea1-cv">Instalar Git y configurar el entorno</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2-cv">
        <label for="tarea2-cv">Crear un repositorio en GitHub</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3-cv">
        <label for="tarea3-cv">Aprender los comandos básicos de Git (commit, push, pull)</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4-cv">
        <label for="tarea4-cv">Gestionar ramas en Git y fusionarlas</label>
    </li>
</ul>
