---
layout: layouts/layout-task.njk
title: Tareas
---
<h2 class="task-title">Entornos Virtuales</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1-ev">
        <label for="tarea1-ev">Instalar Anaconda o Virtualenv</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2-ev">
        <label for="tarea2-ev">Crear un entorno virtual</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3-ev">
        <label for="tarea3-ev">Activar y desactivar el entorno virtual</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4-ev">
        <label for="tarea4-ev">Instalar y gestionar paquetes dentro del entorno</label>
    </li>
</ul>
