---
layout: layouts/layout-task.njk
title: Tareas
---

<h2 class="task-title">Aspectos Críticos y Éticos en Ciencia de Datos</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1-etica">
        <label for="tarea1-etica">Estudiar el sesgo en los datos y en los modelos</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2-etica">
        <label for="tarea2-etica">Comprender la privacidad y protección de datos</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3-etica">
        <label for="tarea3-etica">Discutir la responsabilidad ética de los científicos de datos</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4-etica">
        <label for="tarea4-etica">Evaluar el impacto social de las decisiones basadas en datos</label>
    </li>
</ul>
