---
layout: layouts/layout-task.njk
title: Tareas
---

<h2 class="task-title">Fundamentos de Programación</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1">
        <label for="tarea1">Instalar Python y configurar el entorno</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2">
        <label for="tarea2">Entender variables, tipos de datos y estructuras básicas</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3">
        <label for="tarea3">Escribir funciones simples</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4">
        <label for="tarea4">Usar condicionales y bucles</label>
    </li>
</ul>
