---
layout: layouts/layout-task.njk
title: Tareas
---

<h2 class="task-title">Introducción al Análisis de Datos</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1-ad">
        <label for="tarea1-ad">Cargar y limpiar conjuntos de datos</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2-ad">
        <label for="tarea2-ad">Realizar análisis descriptivo (promedios, medianas, desviaciones)</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3-ad">
        <label for="tarea3-ad">Trabajar con series temporales</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4-ad">
        <label for="tarea4-ad">Visualizar datos con bibliotecas como Matplotlib</label>
    </li>
</ul>
