---
layout: layouts/layout-task.njk
title: Tareas
---

<h2 class="task-title">Fundamentos Matemáticos para Ciencia de Datos</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1-fm">
        <label for="tarea1-fm">Repasar álgebra lineal (vectores, matrices)</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2-fm">
        <label for="tarea2-fm">Estudiar probabilidad y estadísticas básicas</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3-fm">
        <label for="tarea3-fm">Familiarizarte con la teoría de funciones y series</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4-fm">
        <label for="tarea4-fm">Entender los fundamentos de cálculo</label>
    </li>
</ul>

