---
layout: layouts/layout-task.njk
title: Tareas
---

<h2 class="task-title">Fundamentos de Machine Learning</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1-ml">
        <label for="tarea1-ml">Estudiar los tipos de aprendizaje (supervisado, no supervisado)</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2-ml">
        <label for="tarea2-ml">Implementar un modelo básico de regresión lineal</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3-ml">
        <label for="tarea3-ml">Aprender sobre overfitting y underfitting</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4-ml">
        <label for="tarea4-ml">Evaluar modelos de Machine Learning</label>
    </li>
</ul>
