---
layout: layouts/layout-task.njk
title: Tareas
---

<h2 class="task-title">SQL y Bases de Datos</h2>
<ul class="task-list">
    <li>
        <input type="checkbox" id="tarea1-sql">
        <label for="tarea1-sql">Aprender comandos básicos de SQL (SELECT, INSERT, UPDATE, DELETE)</label>
    </li>
    <li>
        <input type="checkbox" id="tarea2-sql">
        <label for="tarea2-sql">Diseñar una base de datos relacional</label>
    </li>
    <li>
        <input type="checkbox" id="tarea3-sql">
        <label for="tarea3-sql">Realizar consultas avanzadas (JOINs, subconsultas)</label>
    </li>
    <li>
        <input type="checkbox" id="tarea4-sql">
        <label for="tarea4-sql">Optimizar consultas SQL</label>
    </li>
</ul>
