---
layout: layouts/layout-pages.njk
title: Matemáticas y Tecnología
---




<h1 class="page-title">Información General</h1>
<!-- Cita destacada -->
<blockquote class="quote">
    “Intentando lo imposible es como se consigue lo posible.”<br>
    <small>- Henri Barbusse</small>
</blockquote>

<!-- Sección: ¿Qué es? -->
<section class="mt-5">
    <h3>¿Qué es?</h3>
    <p> 
        Este es un espacio diseñado para <span class="highlight">aprender</span>, desarrollar y aplicar herramientas de <span class="highlight">inteligencia artificial</span>, <span class="highlight">ciencia de datos</span> y otras tecnologías emergentes,
         enfrentando problemáticas reales que requieren su implementación. Así, los participantes adquieren experiencia tanto en la construcción como en la aplicación 
         de estas herramientas.
         Por otro lado, también se busca generar un espacio para <span class="highlight">reflexionar sobre la ciencia misma</span>: explorando desde su método hasta sus límites y las implicaciones sociales de su uso. 
         Este enfoque invita no solo a desarrollar habilidades tecnicas, sino aprender cuestionar el impacto de la tecnología y el papel de los científicos y tecnólogos en la <span class="highlight">configuración de la sociedad moderna</span>.
    </p>
</section>

<!-- Sección: ¿Para qué? -->
<section class="mt-5">
    <h3>¿Para qué?</h3>

    <p>
        
        Este proyecto busca fomentar un diálogo que conecte la <span class="highlight">innovación tecnológica</span> con las necesidades de la sociedad, explorando no solo 
        cómo estas herramientas transforman el mundo, sino también el papel crucial que las matemáticas y sus profesionales desempeñan en este proceso, promoviendo una <span class="highlight">reflexión</span> que integre lo técnico, lo ético y lo social.

    </p>
</section>

<!-- Sección: ¿Para quién? -->
<section class="mt-5">
    <h3>¿Para quién?</h3>

    <p>
        
        Este programa está diseñado para estudiantes, profesionales y <span class="highlight">apasionados</span> de las matemáticas y la <span class="highlight">tecnología</span> que deseen aplicar sus habilidades en contextos prácticos y colaborativos. Además, está abierto a estudiantes del ámbito de las ciencias sociales <span class="highlight">interesados</span> en explorar y <span class="highlight">debatir</span> las implicaciones éticas,
        sociales y culturales que surgen del uso de estas tecnologías, fomentando un espacio interdisciplinario para el aprendizaje y la reflexión.

    </p>
</section>

<!-- Sección: ¿Cuándo? -->
<section class="mt-5">
    <h3>¿Cuándo?</h3>

    <p>
        Las actividades del proyecto se llevarán a cabo a lo largo del semestre, con sesiones semanales de trabajo y colaboración, así como fechas específicas para presentaciones.
    </p>
</section>

<!-- Sección: ¿Cómo? -->
<section class="mt-5">
    <h3>¿Cómo?</h3>
    <p>
        El aprendizaje se centrará en el desarrollo de proyectos prácticos, donde los participantes trabajarán en equipos para abordar desafíos específicos que se adaptarán y evolucionarán según el nivel de experiencia de cada grupo.
    </p>
    <ol>
        <li>Los interesados en formar parte de los equipos de trabajo y contribuir activamente en los proyectos se inscribirán en <a href="{{ '/participar' | url }}">Quiero participar</a>.</li>

        <li>Los equipos de trabajo serán organizados con base en sus intereses académicos y/o profesionales, así como en función de sus conocimientos en programación.</li>

        <li>Los equipos escogerán un proyecto inicial y trabajarán en él durante el período asignado. A medida que avancen, podrán ajustar los objetivos para reflejar sus progresos y nuevas ideas.</li>

        <li>A mitad del ciclo de trabajo, los equipos presentarán un resumen de su progreso al comité organizador, donde recibirán retroalimentación para refinar sus proyectos.</li>
        <li>Al final del ciclo, cada equipo presentará su proyecto final en una sesión de integración, donde podrán compartir sus aprendizajes y resultados con otros participantes.</li>

    </ol>
    <p>
        Además de los proyectos, este espacio ofrece la oportunidad de reflexionar sobre el impacto de la tecnología en la sociedad. Si te interesa unirte a estas discusiones y explorar los aspectos éticos y sociales de la tecnología, visita la sección <a href="{{ '/sociedad' | url }}">Ciencia y sociedad</a>.
    </p>
</section>



