---
layout: layouts/layout-pages.njk
title: Proyectos
---

<div class="container mt-5">
    <h2 class="mb-4">Proyectos</h2>
    <p class="mensaje-bienvenida">
        Este espacio está dedicado a los proyectos desarrollados dentro de nuestra comunidad. 
        Aquí aplicamos herramientas de ciencia de datos e inteligencia artificial para resolver problemas reales, 
        aprender en equipo y fortalecer nuestras habilidades.
    </p>
</div>

<div class="container mt-4">
    <h2 class="mb-3">¿Cómo funciona?</h2>
    <ul>
        <li class="mb-2"><strong>✅ Ideación:</strong> Elegimos datasets y problemas interesantes.</li>
        <li class="mb-2"><strong>✅ Desarrollo:</strong> Trabajamos en equipos aplicando distintas herramientas.</li>
        <li class="mb-2"><strong>✅ Presentación:</strong> Compartimos hallazgos, errores y aprendizajes.</li>
        <li class="mb-2"><strong>✅ Repositorios compartidos:</strong> Los proyectos son continuos y colaborativos.</li>
        <li class="mb-2"><strong>✅ Participación flexible:</strong> Puedes unirte en cualquier momento para mejorar, extender o documentar los avances.</li>
    </ul>
</div>

<div class="container mt-4">
    <p style="font-size: 1.14rem; font-weight: bold; margin-bottom: 10px;">💡 ¿Tienes una idea interesante? Proponla y la comunidad podrá desarrollarla en equipo.</p>
    
    <a href="#" class="btn-inscripcion" style="padding: 10px 20px; font-size: 1rem; display: inline-block;">Proponer un Proyecto</a>
</div>

<div class="container mt-5">
    <h3>Explora nuestros proyectos</h3>
    <p>🚀 Todos nuestros proyectos son colaborativos y se desarrollan dentro de nuestra organización en GitHub. 
        Allí puedes explorar repositorios, contribuir y seguir el avance de las iniciativas.</p>
    
    <a href="https://github.com/MathUPTC" class="btn btn-dark" style="padding: 10px 20px; font-size: 1rem; display: inline-block;" target="_blank">Ver proyectos en GitHub</a>
</div>
