---
layout: layouts/layout-pages.njk
title: Información General
---

<blockquote class="reflection-quote">
    <p class="short-text">
        "Si tú tienes un pan y yo un euro, y yo uso mi euro para comprar tu pan, al final del intercambio tendré el pan y tú el euro..."  
        <button class="show-more">Ver más</button>
    </p>
    <p class="full-text hidden">
        "Si tú tienes un pan y yo un euro, y yo uso mi euro para comprar tu pan, al final del intercambio tendré el pan y tú el euro. Parece un equilibrio perfecto, ¿no? A tiene un euro, B tiene un pan, luego, A tiene el pan y B el euro. Es una transacción justa, pero meramente material.  
        Ahora, imagina que tienes un soneto de Verlaine o conoces el teorema de Pitágoras, y yo no tengo nada. Si me enseñas, al final de este intercambio, habré aprendido el soneto y el teorema, pero aún así los tendrás también. En este caso, no sólo hay equilibrio, sino crecimiento.  
        Primero tuvimos un comercio; en el segundo, compartimos conocimientos. Y mientras los bienes se consumen, la cultura se expande."
        <button class="show-less">Ver menos</button>
    </p>
    <small>- Michel Serres</small>
</blockquote>



</blockquote>
<h3>¿Qué es el aprendizaje basado en proyectos?</h3>
    <p>
        El aprendizaje basado en proyectos es un enfoque educativo que permite a los estudiantes trabajar en proyectos reales y significativos, integrando conocimientos de diversas disciplinas. A través de este método, los estudiantes desarrollan habilidades prácticas, pensamiento crítico y capacidad para trabajar en equipo.
    </p>

<h3>¿Por qué es importante?</h3>
    <p>
        Este enfoque es crucial porque conecta el aprendizaje con la vida real, preparando a los estudiantes para enfrentar desafíos del mundo laboral. Además, fomenta la autonomía y la responsabilidad, ya que los estudiantes son responsables de su propio aprendizaje y de la entrega de sus proyectos.
    </p>

<h3>Recursos adicionales para saber más acerca del aprendizaje basado en proyectos</h3>
    <p>
        Para profundizar en el tema, puedes visitar la siguiente página: 
        <a href="/recursos" target="_blank">Recursos sobre Aprendizaje Basado en Proyectos</a>.
    </p>


    <small>- Michel Serres</small>
