---
layout: layouts/layout-pages.njk
title: Información General
---

<blockquote class="reflection-quote">
    <p class="short-text">
        "Si tú tienes un pan y yo un euro, y yo uso mi euro para comprar tu pan, al final del intercambio tendré el pan y tú el euro..."  
        <button class="show-more">Ver más</button>
    </p>
    <p class="full-text hidden">
        "Si tú tienes un pan y yo un euro, y yo uso mi euro para comprar tu pan, al final del intercambio tendré el pan y tú el euro. Parece un equilibrio perfecto, ¿no? A tiene un euro, B tiene un pan, luego, A tiene el pan y B el euro. Es una transacción justa, pero meramente material.  
        Ahora, imagina que tienes un soneto de Verlaine o conoces el teorema de Pitágoras, y yo no tengo nada. Si me enseñas, al final de este intercambio, habré aprendido el soneto y el teorema, pero aún así los tendrás también. En este caso, no sólo hay equilibrio, sino crecimiento.  
        Primero tuvimos un comercio; en el segundo, compartimos conocimientos. Y mientras los bienes se consumen, la cultura se expande."
        <button class="show-less">Ver menos</button>
    </p>
    <small>- Michel Serres</small>
</blockquote>


<div class="container mt-5">
    <h3>¿Por qué?</h3>
    <p>Este proyecto nace de una necesidad sentida por estudiantes de la Escuela de Matemáticas de la UPTC, quienes, a pesar de recibir una formación teórica sólida, identificaron una brecha entre el conocimiento académico y su aplicación en un mundo impulsado por la tecnología. Conscientes de que la ciencia y la tecnología moldean el futuro, este espacio busca proporcionar herramientas prácticas, fomentar una mentalidad de innovación y promover el acceso abierto al conocimiento para que los estudiantes puedan enfrentar los desafíos del presente y del futuro sin barreras.</p>

    <h3>Visión</h3>
    <p>Imaginamos un entorno donde la matemática trascienda el aula y se convierta en un medio para resolver problemas reales. Queremos formar una comunidad en la que el aprendizaje no solo consista en adquirir conocimientos, sino en aplicarlos, cuestionarlos y expandirlos. Creemos en la importancia de un ecosistema abierto, donde el conocimiento y la tecnología sean accesibles para todos, sin restricciones. Más allá de la programación y la inteligencia artificial, este es un espacio para la creatividad, el pensamiento crítico y la construcción de soluciones que generen un impacto tangible.</p>

    <h3>Propósito</h3>
    <p>Nuestro objetivo es cerrar la brecha entre la teoría y la práctica, fortaleciendo las competencias de los participantes en ciencia de datos, inteligencia artificial y tecnologías emergentes. Pero también queremos generar un espacio de reflexión sobre el papel de la ciencia en la sociedad. Apostamos por la cultura del código abierto y el aprendizaje colaborativo, porque creemos que la innovación no debe estar limitada por barreras económicas o institucionales. Queremos formar no solo científicos y tecnólogos, sino también innovadores capaces de transformar su entorno, promoviendo el libre acceso a herramientas y recursos que permitan convertir ideas en realidades.</p>

    <h3>Un espacio para la acción</h3>
    <p>Este proyecto no solo ofrece conocimientos y herramientas, sino que también busca inspirar una actitud emprendedora. No se trata solo de aprender, sino de construir, experimentar y proponer. Apostamos por una comunidad donde cualquier persona pueda compartir y mejorar soluciones de forma abierta. Aquí, el aprendizaje se basa en la práctica y la colaboración, permitiendo que quienes participan no solo desarrollen habilidades técnicas, sino que también adquieran la capacidad de generar ideas innovadoras y convertirlas en proyectos concretos que respondan a las necesidades del mundo actual.</p>

    <h3>Contacto</h3>
    <p>¡Hola! Mi nombre es Cristian Fernando León. Actualmente (2025) soy estudiante de Matemáticas en la Universidad Pedagógica y Tecnológica de Colombia y fundador de este proyecto.</p>
</div>


    <h3>Comité Organizador</h2>
    <p>
    Somos tres estudiantes de matemáticas oriundos de Sogamoso (Boyacá, Colombia), quienes, impulsados por una visión común, decidimos unir esfuerzos para transformar nuestras inquietudes en un espacio de aprendizaje, colaboración e innovación.  Creemos en el poder del conocimiento libre, la colaboración y la tecnología como herramientas para construir un futuro más accesible para todos
    </p>
<div class="container my-5">
    <div class="row justify-content-center">
        {% for organizer in organizers %}
        <div class="col-md-6 col-lg-4 col-sm-8 my-3"> 
            <div class="card border-0 text-center d-flex flex-column h-100">
                <img src="{{ organizer.photo }}" alt="{{ organizer.name }}" class="rounded-circle mx-auto d-block" width="160" height="160">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title flex-grow-1">
                        <a href="{{ organizer.link }}" class="text-decoration-none fw-bold d-block" target="_blank">
                            {{ organizer.name }}
                        </a>
                    </h5>
                    <p class="card-text">
                        <a href="mailto:{{ organizer.email }}" class="text-muted small d-block">
                            {{ organizer.email }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


