---
layout: layouts/layout-pages.njk
title: Información General
---

<blockquote class="reflection-quote">
    <p class="short-text">
        "Si tú tienes un pan y yo un euro, y yo uso mi euro para comprar tu pan, al final del intercambio tendré el pan y tú el euro..."  
        <button class="show-more">Ver más</button>
    </p>
    <p class="full-text hidden">
        "Si tú tienes un pan y yo un euro, y yo uso mi euro para comprar tu pan, al final del intercambio tendré el pan y tú el euro. Parece un equilibrio perfecto, ¿no? A tiene un euro, B tiene un pan, luego, A tiene el pan y B el euro. Es una transacción justa, pero meramente material.  
        Ahora, imagina que tienes un soneto de Verlaine o conoces el teorema de Pitágoras, y yo no tengo nada. Si me enseñas, al final de este intercambio, habré aprendido el soneto y el teorema, pero aún así los tendrás también. En este caso, no sólo hay equilibrio, sino crecimiento.  
        Primero tuvimos un comercio; en el segundo, compartimos conocimientos. Y mientras los bienes se consumen, la cultura se expande."
        <button class="show-less">Ver menos</button>
    </p>
    <small>- Michel Serres</small>
</blockquote>



</blockquote>
<h3>¿Porque?</h3>
    <p>
        Este es un proyecto creado, organizado y liderado por estudiantes de la Escuela de Matematicas de la UPTC (Universidad Pedagogica y Tecnologica de Colombia).

        En este contexto, algunos estudiantes, en particular estudiantesde la Facultad de Ciencias, nos empezamos a sentir incomodos con la organización de nuestra universidad
        al darnos cuenta que, aunque tenemos una formación de alto nivel (al menos teorico), no estabamos preparados para el mundo que se nos esta plantando ante nuestros ojos,
        el mundo donde impera la tecnologia y por ende la ciencia. 
        
    </p>

</blockquote>
