---
layout: layouts/layout-pages.njk
title: Ciencia y Sociedad
---

<section id="ciencia-sociedad" class="mt-5">
    <div class="container">
        <h2 class="text-center mb-4">Ciencia y Sociedad</h2>
        <p class="text-center mb-5">Explorando la conexión entre el conocimiento, la reflexión y el impacto en nuestras vidas.</p>

        <div class="row">
            <div class="col-md-4">
                <h4 class="text-center">Pensar la Ciencia</h4>
                <p>La ciencia no es solo un conjunto de conocimientos, sino también un tema de reflexión. Desde la filosofía, cuestionamos qué significa hacer ciencia, cómo se construye el conocimiento y cuáles son sus límites. Este análisis nos ayuda a comprender mejor el papel de la ciencia en nuestra sociedad y su influencia en nuestra visión del mundo.</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Ciencia para Pensar Mejor</h4>
                <p>La ciencia es una herramienta poderosa para mejorar nuestro pensamiento. Nos proporciona métodos que fomentan el razonamiento crítico y la resolución de problemas. Aplicar este enfoque científico nos permite tomar decisiones informadas y enfrentar con claridad los desafíos complejos de nuestra realidad.</p>
            </div>
            <div class="col-md-4">
                <h4 class="text-center">Tecnología y Sociedad</h4>
                <p>Vivimos en una era profundamente influenciada por los avances tecnológicos. Desde la inteligencia artificial hasta las redes sociales, estos cambios están transformando cómo vivimos, trabajamos y nos relacionamos. Reflexionar sobre este impacto nos ayuda a adaptarnos y comprender cómo las decisiones tecnológicas moldean nuestra sociedad.</p>
            </div>
        </div>
    </div>
</section>

<div class="text-center mb-4">
    <a href="https://docs.google.com/forms/d/1LIzOdevCJZ1uhrQoZ8IAadY7kOrF_Zq9s-lMq8SSDf8/edit" class="btn-participar">
        ¡Quiero participar en los encuentros!
    </a>
</div>







