---
layout: layouts/layout-pages.njk
title: Tareas - {{ tarea.titulo }}
---

<div class="task-container">
  <h1>{{ tarea.titulo }}</h1>
  <p>{{ tarea.descripcion }}</p>
  
  <h2>Tareas:</h2>
  <ul>
    {% for tarea_item in tarea.tareas %}
      <li>{{ tarea_item }}</li>
    {% endfor %}
  </ul>
  
  <a href="{{ '/ruta-aprendizajeDS' | url }}">Volver a la ruta de aprendizaje</a>
</div>
