---
layout: layouts/layout-pages.njk
title: Tareas
---

<div class="task-container">
  <h1>Tareas de Aprendizaje</h1>

<pre>{{ site.data.tareas | jsonify }}</pre>

  {% for tarea in site.data.tareas %}
    <h2>{{ tarea.titulo }}</h2>
    <p>{{ tarea.descripcion }}</p>
    
    <ul>
      {% for tarea_item in tarea.tareas %}
        <li>{{ tarea_item }}</li>
      {% endfor %}
    </ul>
  {% endfor %}


  

  <a href="{{ '/ruta-aprendizajeDS' | url }}" class="btn btn-primary">Volver a la ruta de aprendizaje</a>
</div>
